<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <test name="Test 1">
    </test>
    <test name ="Smoke Test">
        <classes>
            <class name="tests.HomePageTest">
            </class>
            <class name="tests.RegisterPageTest">

            </class>
        </classes>
<!--        <packages>-->
<!--            <package name="src.test.java.tests.HomePageTest"/>-->
<!--&lt;!&ndash;            <package name="src.test.java.RegisterPage"/>&ndash;&gt;-->
<!--        </packages>-->
    </test>
</suite>